
<div class="student-details-container">
    <div class="text-content">
        <div class="primary-heading">Student Details</div>
        <div class="secondary-heading">{{ exam_code }}</div>
    </div>
    <div class="details-section">
        <app-detail-item
            [logo]="'assets/images/user-logo.png'"
            heading="Prakash Jha"
            subheading="9876543210">
        </app-detail-item>
        <app-detail-item
            heading="#1234"
            subheading="Roll number">
        </app-detail-item>
        <app-detail-item
            [logo]="'assets/images/class-logo.png'"
            heading="11th - A"
            subheading="English M">
        </app-detail-item>
    <div>
  </div>
   