
<div class="exam-details-container">
    <div class="text-section">Exam Details</div>
    <div class="details-section">
        <app-item
        heading="Term 1"
        subheading=""
        ></app-item>
        <app-item
        heading="Total marks"
        subheading="500"
        ></app-item>
        <app-item
        heading="Start date"
        subheading="04/04/2023, Monday"
        ></app-item>
        <app-item
        heading="End Date"
        subheading="04/04/2023, Friday"
        ></app-item>
    </div>
</div>
   