<div class="container">
    
    <div class="marks-container">
        <div class="heading">Congratulations, You have passed this exam</div>
        <div class="marks-grid">
            <app-item 
            heading="Total marks"
            subheading="500" 
            >
            </app-item>
            <app-item 
                [color]="'#00AE3E1C'"
                heading="Obtained marks"
                subheading="420" 
            >
            </app-item>
            <app-item 
                heading="Percentage"
                subheading="69%" 
                [color]="'#00AE3E1C'"
            >
            </app-item>
        </div>
    </div>
    <div class="remarks-container">
       Remarks
    </div>
</div>